<p-toast position="top-left"></p-toast>

<div class="main-petty-content background-scheme-vertical">
  <div style="padding: 20px 0px 20px;">
    <div style="display: flex; align-items: center; width: 90vw; " class="flex-direction-column block-whole-line">
      <div style="font-size: 22px; color: black; padding: 10px;">Verify your email</div>
      <div style="font-size: 18px; color: black; padding: 10px;">{{message}}</div>
    </div>
  </div>

  <div style="padding: 40px 0px 20px;">
    <div style="align-items: flex-start; font-size: 12px; width: 90vw; " class="flex-direction-column block-whole-line">
      <button pButton pRipple type="button" label="Go Home" (click)="goHome()" class="p-button-text" style="text-decoration: underline; color: blue"></button>
    </div>
  </div>


  <br />
  <br />
  <br />
</div>
