<p-toast position="top-center"></p-toast>
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="confirm-box-container">
      <div class="line">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
      </div>
      <div class="line title">
        {{message.summary}}
      </div>
      <div class="line">
        {{message.detail}}
      </div>
      <div class="line">
        Name: {{selected.name}}
      </div>
      <div class="line">
        <button pButton pRipple type="button" (click)="onConfirm()" label="Yes"
                class="button-square-common-on-white block-small-in-line"></button>
        <button pButton pRipple type="button" (click)="onReject()" label="No" style="background-color: SlateGray;"
                class="button-square-common-on-white block-small-in-line"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<div style="padding: 10px; font-size: 22px; font-weight: bold">Heroes Management</div>

<div style="padding:10px">
  <button pButton pRipple type="button" label="Insert a new hero" (click)="insert()" style="background-color: forestgreen; color: white;">
  </button>
</div>

<p-table [value]="heroes" styleClass="p-datatable-striped" selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center; padding: 5px; width: 60px ">ID</th>
      <th style="text-align: center; padding: 0px; width: 200px ">Name</th>
      <th style="text-align: center; padding: 0px; width: 500px ">Description</th>
      <th style="text-align: center; padding: 0px; width: 100px ">Operation</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td style="text-align: center; padding: 0px 5px">{{hero.id}}</td>
      <td style="text-align: left; padding: 0px 5px">{{hero.name}}</td>
      <td style="text-align: left; padding: 0px 5px">{{hero.description}}</td>
      <td style="padding: 0px 5px">
        <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteConfirm(hero)" title="Delete"
                class="p-button-rounded p-button-secondary p-button-text" style=" height: 20px; width: 20px;"></button>
      </td>
      <td style="padding: 0px 5px">
        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="edit(hero)" title="Edit"
                class="p-button-rounded p-button-secondary p-button-text" style=" height: 20px; width: 20px;"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<br />
<br />
<br />
<br />
<br />
