<p-toast position="top-center"></p-toast>
<p-toast
  position="top-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="confirm-box-container">
      <div class="line">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
      </div>
      <div class="line title">
        {{ message.summary }}
      </div>
      <div class="line">
        {{ message.detail }}
      </div>
      <div class="line">File: {{ selected.name }}</div>
      <div class="line">
        <button
          pButton
          pRipple
          type="button"
          (click)="onConfirm()"
          label="Yes"
          class="button-square-common-on-white block-small-in-line"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          (click)="onReject()"
          label="No"
          style="background-color: SlateGray"
          class="button-square-common-on-white block-small-in-line"
        ></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<div style="padding: 10px; font-size: 22px; font-weight: bold">
  Student File Management
</div>

<div style="display: flex; flex-direction: row">
  <div style="margin: 5px">
    <p-fileUpload
      mode="basic"
      name="file"
      url="{{ apiUrl }}/filesupload?uploadtype=313&pid={{ studentId }}"
      maxFileSize="20000000"
      (onUpload)="myUploader($event)"
      chooseLabel="Document"
      [auto]="true"
      chooseIcon="pi pi-plus"
    ></p-fileUpload>
  </div>
  <div style="margin: 5px">
    <p-fileUpload
      mode="basic"
      name="file"
      url="{{ apiUrl }}/fileupload?uploadtype=311&pid={{ studentId }}"
      accept="image/*"
      maxFileSize="5000000"
      (onUpload)="myUploader($event)"
      chooseLabel="Image"
      [auto]="true"
      chooseIcon="pi pi-image"
    >
      <ng-template pTemplate="toolbar">
        <div>请选择上传图片文件</div>
      </ng-template>
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <div style="margin: 5px">
    <p-fileUpload
      mode="basic"
      name="file"
      url="{{ apiUrl }}/fileupload?uploadtype=312&pid={{ studentId }}"
      accept="video/*"
      maxFileSize="10000000"
      (onUpload)="myUploader($event)"
      chooseLabel="Video"
      [auto]="true"
      chooseIcon="pi pi-video"
    ></p-fileUpload>
  </div>
</div>

<p-table
  [value]="filesList"
  styleClass="p-datatable-striped"
  selectionMode="single"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center; padding: 0px; width: 100px">Image</th>
      <th style="text-align: center; padding: 0px; width: 60px">
        Attachment ID
      </th>
      <th style="text-align: center; padding: 0px; width: 60px">File Name</th>
      <th style="text-align: center; padding: 0px; width: 200px">URL</th>
      <th style="text-align: center; padding: 0px; width: 60px">Sequence</th>
      <th style="text-align: center; padding: 0px; width: 60px">Size</th>
      <th style="text-align: center; padding: 0px; width: 120px">
        Description
      </th>
      <th style="text-align: center; padding: 0px; width: 60px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-file>
    <tr>
      <td style="text-align: center; padding: 0px">
        <p-image
          id="{{ file.attachmentId }}"
          src="{{ apiUrl }}/{{ file.attachmentIconPath }}"
          alt="Image Placeholder"
          [preview]="true"
          (onShow)="imgPreview(file)"
          width="150px"
          height="150px"
        ></p-image>
      </td>
      <td style="text-align: center; padding: 0px 5px">
        {{ file.attachmentId }}
      </td>
      <td style="text-align: center; padding: 0px 5px">{{ file.name }}</td>
      <td style="text-align: center; padding: 0px 5px">{{ file.url }}</td>
      <td style="text-align: center; padding: 0px 5px">{{ file.sequence }}</td>
      <td style="text-align: center; padding: 0px 5px">
        {{ file.fileSize ? file.fileSize : size }}
      </td>
      <td style="text-align: center; padding: 0px 5px">
        {{ file.description }}
      </td>
      <td style="padding: 0px 5px">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          (click)="deleteConfirm(file)"
          class="p-button-rounded p-button-danger p-button-outlined"
          style="height: 20px; width: 20px"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
