<p>Star Teachers</p>
<div style="padding-top: 100px; padding-bottom:100px; margin: 0px; color: black; font-size: 24px;">
  Star Teacher ......
  <br />
  <img style=" width: 200px; height: 200px; padding:20px;" src="assets/pic/user-pic.jpg" />
  <img style=" width: 200px; height: 200px; padding: 20px;" src="assets/pic/user-pic1.jpg" />
  <img style=" width: 200px; height: 200px; padding: 20px;" src="assets/pic/user-pic2.jpg" />
  <img style=" width: 200px; height: 200px; padding: 20px;" src="assets/pic/user-pic3.jpg" />
  <br />
  <br />
  <div style="color:red; font-size: 32px; ">
    Star Teacher ......
  </div>
</div>

<br />
<br />
<br />
