<hr style="margin: 10px 0px 0px;">
<div style=" width:100%; margin:0px; background-image: linear-gradient(#e66465, #9198e5);">
  <div class="main-content flex-direction-column" style="justify-content: center; ">
    <span style="margin:10px auto; color: white; font-size:30px;">U Plus Education</span>
    <span style="margin: 5px auto; color: gold">U Plus Education</span>
    <div class="card-container">
      <div class="card-area" style="color:white;">
        <span style="margin: 10px; font-size: 22px; font-style: italic; font-weight: bold">
          OPEN HOURS
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          Sun - Thur 11:30am - 10:00pm
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          Fri - Sat 11:30am - 10:30pm
        </span>
      </div>

      <div class="card-area" style="color:white;">
        <span style="margin: 10px; font-size: 22px; font-style: italic; font-weight: bold">
          LOCATION
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          xxx xxxx Rd. N., xx
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          Toronto, ON
        </span>
      </div>

      <div class="card-area" style="color:white;">
        <span style="margin: 10px; font-size: 22px; font-style: italic; font-weight: bold">
          Book
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          <i class="pi pi-phone"></i> 111-123-456
        </span>
        <span style="margin: 5px 10px; font-size: 16px;">
          <i class="pi pi-envelope"></i> info@mail.com
</span>
      </div>
    </div>
    <p style="margin: 10px auto; font-size: 0.9rem; color: LightGray">U Plus Education@2021 Copyright. All Rights Reserved</p>
  </div>
</div>


