.portrait-size {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50px;
}

:host::ng-deep .p-inputtext {
    color: white;
}

.switch-button-image {
    width: 51px;
    height: 31px;
    border-radius: 20px;
    border: none;
}