<br />
<br />

<p style="color: black; font-weight: bold; font-size: 24px">Admin Dashboard</p>
<br />
<br />
<p style="color: darkcyan; font-size: 24px">Note: The menu has changed! ! ! Menu for managing users.</p>
<br />
<br />
<br />

<marquee direction="up"><span style="font-weight: bolder;font-size: 40px;color: red;">Here is the Admin Dashboard!</span></marquee>
<br />
<br />
<br />
<div style="font-size: 26px; color: darkblue">
  Please improve the content of this page!
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
