<div class="main-content">
  <app-main-carousel [homeType]="'main'"></app-main-carousel>
</div>

<div class="main-content background-scheme-vertical">
  <div class="card-container">
    <app-programs style="width: 100%; background-color: lightgray"></app-programs>
  </div>
  <div class="card-container">
    <app-star-students style="width: 100%; background-color: lightcyan"></app-star-students>
  </div>
  <div class="card-container">
    <app-star-teachers style="width: 100%; background-color: lightgreen"></app-star-teachers>
  </div>
</div>

