<p-toast position="top-left"></p-toast>

<div class="main-petty-content" style="background-color: #3D3D64">

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">API Method : {{codeValueDescription}}</span>
    </div>
  </div>


  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">API Path : {{api.apiPath}}</span>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Path Parameter : {{api.pathParameter}}</span>
      <span style="padding-left: 10px; padding-right: 10px;">Path Parameter Required:
        <p-checkbox [(ngModel)]="api.pathParameterRequired" [binary]="true" [trueValue]="1" [falseValue]="0"
          inputId="pathParameterRequired" disabled="true" style="padding-bottom: 3px"></p-checkbox>
      </span>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Query Parameter : {{api.queryParameter}}</span>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Request Options : {{api.requestOptions}}</span>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <h6 style="padding-left: 10px; padding-right: 10px;">Request Body : {{api.requestBody}}</h6>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <h6 style="padding-left: 10px; padding-right: 10px;">Request Body Example : {{api.requestBodyExample}}</h6>
    </div>

    <div style="padding: 10px 0px 10px; color: white;">
      <div>
        <span style="padding-left: 10px; padding-right: 10px">Response Status : </span>
        <p style="padding-top:5px; padding-left: 15px; padding-right: 10px">{{api.responseStatus}}</p>
      </div>
    </div>

    <div style="padding: 10px 0px 10px; color: white;">
      <div>
        <h6 style="padding-left: 10px; padding-right: 10px;">Response Value :</h6>
        <p style="padding-top:5px; padding-left: 15px; padding-right: 10px">{{api.responseValue}}</p>
      </div>
    </div>

    <div style="padding: 10px 0px 10px; color: white;">
      <div>
        <span style="padding-left: 10px; padding-right: 10px">Request Example :</span>
        <p style="padding-top:5px; padding-left: 15px; padding-right: 10px">{{api.requestExample}}</p>
      </div>
    </div>

    <div style="padding: 10px 0px 10px; color: white;">
      <div>
        <span style="padding-left: 10px; padding-right: 5px;">Status:</span>
        <p-checkbox [(ngModel)]="api.status" [binary]="true" [trueValue]="1" [falseValue]="0" inputId="status"
          disabled="true" style="padding-bottom: 2px"></p-checkbox>

        <span style="padding-left: 10px; padding-right: 10px;">Authentication Required:</span>
        <p-checkbox [(ngModel)]="api.authenticationRequired" [binary]="true" [trueValue]="1" [falseValue]="0"
          inputId="authenticationRequired" disabled="true" style="padding-bottom: 2px"></p-checkbox>
      </div>
    </div>

    <div style="padding:20px 0px; color: white">
      <button pButton pRipple type="button" label="Back" (click)="goBack()" style="color: white; margin-left: 10px"
        class="button-rounded-common-on-dark block-three-in-line background-scheme-horizontal"></button>
    </div>

    <br />
    <br />
    <br />
  </div>