<p-toast position="top-left"></p-toast>

<div class="main-petty-content" style="background-color: #3D3D64">

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">API Method :</span>
      <p-dropdown  placeholder="Select API Method" [showClear]="true" [options]="codeList" optionLabel="description" optionValue="id32" [(ngModel)]="api.apiMethod"></p-dropdown>
    </div>
  </div>


  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">API Path :</span>
      <input type="text" id="apiPath" pInputText [(ngModel)]="api.apiPath" maxlength="100" style="width: 500px" required>  
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Path Parameter :</span>
      <input type="text" id="pathParameter" pInputText [(ngModel)]="api.pathParameter" style="width: 400px">
      <span style="padding-left: 10px; padding-right: 10px;">Path Parameter Required:</span>

      <p-checkbox [(ngModel)]="api.pathParameterRequired" [binary]="true" [trueValue]="1" [falseValue]="0" inputId="pathParameterRequired"
                  style="padding-bottom: 10px"></p-checkbox>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Query Parameter :</span>
      <input type="text" id="queryParameter" pInputText [(ngModel)]="api.queryParameter" style="width: 550px">
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Request Options :</span>
      <input type="text" id="queryParameter" pInputText [(ngModel)]="api.requestOptions" style="width: 550px">
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <h6 style="padding-left: 10px; padding-right: 10px;">Request Body :</h6>
      <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="api.requestBody" style="margin-left: 10px"></textarea>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <h6 style="padding-left: 10px; padding-right: 10px;">Request Body Example :</h6>
      <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="api.requestBodyExample" style="margin-left: 10px"></textarea>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Response Status :</span>
      <input type="text" id="queryParameter" pInputText [(ngModel)]="api.responseStatus" style="width: 600px">
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <h6 style="padding-left: 10px; padding-right: 10px;">Response Value :</h6>
      <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="api.responseValue" style="margin-left: 10px"></textarea>
    </div>
  </div>

  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 10px">Request Example :</span>
      <input type="text" id="queryParameter" pInputText [(ngModel)]="api.requestExample" style="width: 600px">
    </div>
  </div>
  
  <div style="padding: 10px 0px 10px; color: white;">
    <div>
      <span style="padding-left: 10px; padding-right: 5px;">Status:</span>
      <p-checkbox [(ngModel)]="api.status" [binary]="true" [trueValue]="1" [falseValue]="0" inputId="status"
                  style="padding-bottom: 2px"></p-checkbox>

      <span style="padding-left: 10px; padding-right: 10px;">Authentication Required:</span>
      <p-checkbox [(ngModel)]="api.authenticationRequired" [binary]="true" [trueValue]="1" [falseValue]="0" inputId="authenticationRequired"
                  style="padding-bottom: 2px"></p-checkbox>
    </div>
  </div>

  <div style="padding:20px 0px; color: white">
    <button pButton pRipple type="button" label="Save" (click)="submit()" style="color: white; "
            class="button-rounded-common-on-dark block-two-thirds-in-line background-scheme-horizontal"></button>
    <button pButton pRipple type="button" label="Cancel" (click)="goBack()" style="color: white; margin-left: 10px"
            class="button-rounded-common-on-dark block-three-in-line background-scheme-horizontal"></button>
  </div>
  <br />
  <br />
  <br />
</div>
