<p-toast position="top-center"></p-toast>
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="confirm-box-container">
      <div class="line">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
      </div>
      <div class="line title">
        {{message.summary}}
      </div>
      <div class="line">
        {{message.detail}}
      </div>
      <div class="line">
        Teacher: {{selected.firstName}} {{selected.lastName}}
      </div>
      <div class="line">
        <button pButton pRipple type="button" (click)="onConfirm()" label="Yes"
          class="button-square-common-on-white block-small-in-line"></button>
        <button pButton pRipple type="button" (click)="onReject()" label="No" style="background-color: SlateGray;"
          class="button-square-common-on-white block-small-in-line"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<div style="padding: 10px; font-size: 22px; font-weight: bold">Teachers Management</div>

<div style="padding:10px">
  <button pButton pRipple type="button" label="Add new teacher" (click)="insert()"
    style="background-color: forestgreen; color: white;">
  </button>
</div>

<p-table [value]="teachers" styleClass="p-datatable-striped" selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center; padding: 5px; width: 50px ">ID</th>
      <th style="text-align: center; padding: 0px; width: 80px ">First Name</th>
      <th style="text-align: center; padding: 0px; width: 80px ">Last Name</th>
      <th style="text-align: center; padding: 0px; width: 80px ">Position</th>
      <th style="text-align: center; padding: 0px; width: 50px ">Gender</th>
      <th style="text-align: center; padding: 0px; width: 150px ">Email</th>
      <th style="text-align: center; padding: 0px; width: 100px ">Start Date</th>
      <th style="text-align: center; padding: 0px; width: 100px ">End Date</th>
      <th style="text-align: center; padding: 0px; width: 200px ">Languages</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-teacher>
    <tr>
      <td style="text-align: center; padding: 0px 5px">
        <button pButton pRipple type="button" (click)="detail(teacher)" title="Detail"
          class="p-button-rounded p-button-secondary p-button-text">{{teacher.id}}</button>
      </td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.firstName}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.lastName}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.position}}</td>
      <td style="text-align: center; padding: 0px 5px">{{gender[teacher.gender].type}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.email}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.startDate}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.endDate}}</td>
      <td style="text-align: center; padding: 0px 5px">{{teacher.languagesDisplay}}</td>

      <td style="padding: 0px 5px; width: 25px;">
        <p-button label="Manage Files" icon="pi pi-plus" (click)="attachment(teacher)"></p-button>
      </td>
      <td style="padding: 0px 5px; width: 25px">
        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="edit(teacher)" title="Edit"
          class="p-button-rounded p-button-secondary p-button-text" style=" height: 20px; width: 20px;"></button>
      </td>
      <td style="padding: 0px 5px; width: 25px">
        <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteConfirm(teacher)" title="Delete"
          class="p-button-rounded p-button-secondary p-button-text" style=" height: 20px; width: 20px;"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<br />
<br />
<br />
<br />
<br />